openai
cohere
langchain
unstructured
unstructured-inference
python-dotenv
faiss-cpu
pdf2image
pdfminer.six
langchain-experimental
langchain-openai
langchain-cohere
opencv-python
pikepdf
pypdf
gradio
pillow_heif